### Merging columns from different datasets (Optional) <a name="section4"></a>:
A simple illustration to merge two datasets using [`merge()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [2]:
import pandas as pd
df1 = pd.DataFrame({'CourseCode': ['PHYS024', 'CSCI35', 'ENGR156'], 
                   'CourseName': ['Mechanics and Wave Motion', 
                                  'Computer Science for Insight',
                                 'Intro to Comm & Info Theory']})

df2 = pd.DataFrame({'Professor': ['Zachary Dodds', 'Vatche Sahakian', 
                                  'Timothy Tsai', 'Brian Shuve'],
                    'CourseCode': ['CSCI35', 'PHYS024',  'ENGR156', 'PHYS024']})

In [3]:
df1.head()

  CourseCode                    CourseName
0    PHYS024     Mechanics and Wave Motion
1     CSCI35  Computer Science for Insight
2    ENGR156   Intro to Comm & Info Theory

In [4]:
df2.head()

         Professor CourseCode
0    Zachary Dodds     CSCI35
1  Vatche Sahakian    PHYS024
2     Timothy Tsai    ENGR156
3      Brian Shuve    PHYS024

Let's merge the two dataframes

In [5]:
pd.merge(df2, df1)

         Professor CourseCode                    CourseName
0    Zachary Dodds     CSCI35  Computer Science for Insight
1  Vatche Sahakian    PHYS024     Mechanics and Wave Motion
2      Brian Shuve    PHYS024     Mechanics and Wave Motion
3     Timothy Tsai    ENGR156   Intro to Comm & Info Theory

Please refer to the documents [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) and [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) to better grasp how and when to use `merge()` function.

---
#### Merging dataframes from [Instacart Market Basket Analysis](https://www.kaggle.com/c/instacart-market-basket-analysis/overview) dataset:
Our next dataset is taken from a [competition](https://www.kaggle.com/c/instacart-market-basket-analysis/overview) hosted by Instacard on Kaggle platform. The dataset contains information about products in its grocery stores given in four files. Please see [here](https://www.kaggle.com/c/instacart-market-basket-analysis/data) for more information.
We load the four files into separate dataframes:   
`aisles.csv`   
`departments.csv`  
`products.csv`  
`order_products__train.csv`

In [1]:
import numpy as np
import pandas as pd
dfa = pd.read_csv('https://raw.githubusercontent.com/AashitaK/datasets/main/instacart-market-basket-analysis/aisles.csv')
dfd = pd.read_csv('https://raw.githubusercontent.com/AashitaK/datasets/main/instacart-market-basket-analysis/departments.csv')
dfp = pd.read_csv('https://raw.githubusercontent.com/AashitaK/datasets/main/instacart-market-basket-analysis/products.csv')
dfo = pd.read_csv('https://raw.githubusercontent.com/AashitaK/datasets/main/instacart-market-basket-analysis/order_products__train.csv')

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

Familiarize yourself with the dataframes. Hint: Use [`head()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html).  
Note: You might want to add the code cells. This can be done in two ways:
1. Using the keyboard shortcuts: 
    1. First press `Esc` key to enter the command mode.
    2. Add cell above using `A` or below using `B`.
    3. Exit by pressing `Enter/Return` key.
2. Using `Insert` tab in the top bar of the notebook and then `Insert Cell Above` or `Insert Cell Below`.

**Goal: Get a dataframe consisting of the name of the products along with their aisle names and department names for the order with `order_id` equal to 1.**  
This dataframe must have ***8 rows and only three columns:
```'product_name', 'aisle', 'department'```***

First slice out 8 rows from the order_products dataframe that corresponds with `order_id` equal to 1 and save it in a new dataframe `df`. Hint: Use conditional on indexing as seen above.

Let us have a peek into the dataframe `df`.

In [ ]:
df

The dataframe `df` has a column named `product_id`. So, we can merge it with the dataframe `dfp` to get `product_name`.

In [ ]:
dfp.head()

Merge the dataframes `df` and `dfp` using [`merge()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) and save the result back to `df`.

Let us check whether the new columns are added to the dataframe `df`.

In [ ]:
df

Now, we have new columns `aisle_id` and `department_id`. Let us first merge `dfa` with this dataframe to get the column `aisle`.

Let us check our dataframe `df` again. It should reflect the changes we attempted.

In [ ]:
df

Now it should have the column `aisle`. Let us now merge `dfd` with this dataframe to get the column `department`.

Let us check the dataframe `df` again.

In [ ]:
df

Finally, we only select 3 columns: `'product_name', 'aisle', 'department'`. Hint: Use indexing with the list of columns as seen above.

Let us check the dataframe `df` again.

In [ ]:
df

Let us check the shape of th dataframe `df`.

In [ ]:
df.shape

The output should be `(8, 3)`. Please check your code above if you get something else.

#### Acknowledgment:
* [Instacart Market Basket Analysis](https://www.kaggle.com/c/instacart-market-basket-analysis/data) dataset openly available in Kaggle is used in the exercises.